<!DOCTYPE html>
<html lang="en">
<head>
	<title>REVIEW_PAGE</title>
	 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Rdbms_review.css')}}">
  <link rel="stylesheet"  href="{{url_for('static', filename='css/font-awesome.css')}}">
  <script src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
	
</head>
<body>

	<nav class ="navbar navbar-inverse">
		 <div class="container-fluid">
              	<div class="navbar-header">
              		<a class="navbar-brand" href="#">Brand logo</a>
              		<!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
              			<span class="icon-bar"></span>
              			<span class="icon-bar"></span>
              			<span class="icon-bar"></span>
              			
              		</button> -->
              		
              	</div>
              	<div>
              		
              		<ul class="nav navbar-nav navbar-right">
              			<li><a href="Rdbms.html">Sign out</a></li>
              			<!-- <li><a href="#cnt">Contact</a></li>
              			<li><a href="#"  data-toggle="modal" data-target="#mm1">Register</a></li>
        				<li><a href="#" data-toggle="modal" data-target="#mm">Login</a></li> -->


              		</ul>
              	</div>
              </div>
	</nav>
	<div class="container sym">
		<div class="row hi">
			<h2>Hi Abcd!!!</h2>
			<hr>
		</div>
		<div class="row">
			<h2>Give us your valuable feebdack</h2>
			<hr>
			<br>
			<form autocomplete="off" action="/action_page.php">
  <div class="autocomplete" style="width:300px;">
    <label>Doctor:</label>
     
    <input id="doctor" type="text" name="Doctor" placeholder="Enter the name of the doctor">
  
  </div>

<br>

		</div>
    <div class="row experience">
      <h3>How was your experience?</h3>
<label class="container">
  <input type="radio" checked="checked" name="radio">
  <span class="checkmark"></span>Bad
</label>
<label class="container">
  <input type="radio" name="radio">
  <span class="checkmark"></span>Satisfactory
</label>
<label class="container">
  <input type="radio" name="radio">
  <span class="checkmark"></span>Good
</label>
<label class="container">
  <input type="radio" name="radio">
  <span class="checkmark"></span>Excellent
</label>
    </div>
    <div class="row stars">
      <h1>Rate us</h1>
<fieldset class="rating">
    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Nice- 4 stars"></label>
    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="OK - 3 stars"></label>
    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="not good - 2 stars"></label>
    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="bad - 1.5 stars"></label>
    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="bad - 1 star"></label>
    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="really bad - 0.5 stars"></label>
</fieldset>
    </div>
    <br>
      <button type="submit" class="sub btn-lg">Submit</button>
</form>
	</div>

	 <script type="text/javascript" src="{{url_for('static', filename='Rdbms_review.js')}}"></script>
</body>
</html>
